blockquote {
    text-align: center;
    width: 100%;
    max-width: 53%;
    display: block;
    margin: 0 auto;
    p {
        font-style: italic;
        color: $colour-orange;
        font-weight: 600;
    }
}

cite {
    font-style: normal;
}

.about-matt {
    p {
        font-size: 0.8em;
        line-height: 2;
    }
}

a {
    color: #150006;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-10%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.bg-bgColor {
    animation: 1s ease-out 0s 1 slideInFromLeft; 
}

.gutenberg-content {
    p {
        font-style: italic;
        color: #f84421;
        font-weight: 600;
        text-align: center;
        font-size: 16px;
    }
    span {
        text-align: center;
        display: block;
        font-size: 16px;
    }
}