input:not([type='checkbox']){
  border: 2px solid black;
  padding: 0.4rem;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 0.8em;
}

input[type=checkbox] {
margin-right: 8px;
width: 25px;
height: 25px;
cursor: pointer;
border: 2px solid black;
-webkit-appearance: none;
position: relative;
}

input[type=checkbox]:checked:before {
font-family: "Font Awesome 5 Free";
content: "\f00c";
letter-spacing: 5px;
font-weight: 900;
position: absolute;
left: 2px;
right: 0;
bottom: -1px;
font-size: 0.9em;
}

input:focus {
outline: none;
}

span.wpcf7-not-valid-tip {
font-size: 1em;
margin-top: -2em;
font-size: 0.6em;
margin-bottom: 1em;
}

div.wpcf7-response-output {
margin: 3em 0.5em 1em;
padding: 0.2em 1em;
border: 2px solid #ff0000;
font-size: 0.6em;
// position: absolute;
bottom: 0;
}

input[type='submit'] {
width: auto !important;
float: right;
margin-top: 1.5rem;
background-color: black;
color: white;
padding: 11px 35px;
font-weight: 600;
cursor: pointer;
transition: background-color 0.5s ease;
border: 1px solid transparent;

&:hover {
  background-color: $colour-orange;
  border: 1px solid transparent;
}
}

textarea {
padding: 0;
line-height: inherit;
color: inherit;
width: 100%;
border: 2px solid black;
height: 100px;
resize: none;
padding: 0.4rem;
font-size: 0.8em;

&:focus {
  outline: none;
}
}

label {
display: flex;
align-items: center;
}

span.wpcf7-list-item {
  display: inline-block;
  margin-top: 1rem;
  margin-left: 0;
}

span.wpcf7-list-item-label {
  font-size: 14px;
  margin-left: 1rem;
  color: grey;
  font-size: 0.6em;
  font-weight: 600;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: 600;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
::-moz-placeholder { /* Firefox 19+ */
  font-weight: 600;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
:-ms-input-placeholder { /* IE 10+ */
  font-weight: 600;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}
:-moz-placeholder { /* Firefox 18- */
  font-weight: 600;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.page-template-page_about-php {
  .wp-block-columns {
    display: flex !important;
  }
}

.badge {
  img {
    width: 100%;
    max-width: 21%;
  }
}