ul.gigs-data {
    li:nth-child(1) {
        padding-right: 2rem;
        display: flex;
        justify-content: center;
    }
    li:nth-child(2) {
        padding-right: 2rem;
    }
}

.matt-image {
    // position: absolute;
    width: 100%;
    bottom: 0;
    & img {
        width: 100%;
    }
}

// .gigs-main,
// .about-main,
// .contact-main {
//     height: 59vh;
// }

.badge {
    // width: 100%;
    // max-width: 25%;
    position: absolute;
    z-index: 12;
    right: 108px;
    margin-top: 8.5rem;
    width: 50%;
    top: 0;
    // bottom: -135px;
}

.other-badge img {
    width: 100%;
    max-width: 21%;
    position: absolute;
    right: 70px;
    top: -42px;
}

img.badge-style {
    width: 100%;
    max-width: 60%;
}

.diary-element {
    p {
        font-size: 1.5em;
        font-weight: 600;
        background: #f84421;
    }
}