/*-----------------------------------*/
/*  Header
/*-----------------------------------*/

a.social-link {
    padding-right: 2rem;
    font-weight: 600;
    font-size: 1em;
    @apply uppercase;
}

a.social-link:last-of-type {
    padding-right: 0;
}

ul#menu-main-menu {
    display: flex;
    font-weight: 900;

    li {
        padding-right: 2rem;
        font-size: 1em;
        font-weight: 600;
    }
}

li.active a {
    color: $colour-orange;
}

.text-textColor {
    color: $colour-orange;
}