body{
    background: #fffaf4;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background-color: $colour-orange;

    li {
        padding-right: 1rem;
    }
}

.matt {
    height: unset;
    // position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.parent {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transform: translateY(0px);
    transition: transform 0.8s ease-in-out;
}

.raise-curtain {
    transform: translateY(-100vh);
}

.enter-button {
    width: 100%;
    max-width: 11%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    cursor: pointer;
    bottom: 110px;
}


.home {
    // background: #f84421;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
svg {
    clip-path: url("#svgPath") !important;
    max-width: 100%;
    height: auto;
}

.logo-resize {
    /* max-width: 70%;
    margin: auto; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    background: #f84421;
}

img:not(:first-child) {
    clip-path: unset;
}
.transform-full {
    width: 100%;
    height: 100%;
    transition: height 2s ease;
    background-position: center center;
    margin: 0 auto;
    display: block;
}

section.matt-main-page {
    animation: onLoad 2s linear;
    transform-origin: 50px 50px;
}

// On load animation
@keyframes onLoad {
    0% {
        height: 0vw;
        width: 0vw;
    }
    100% {
        height: 34.425vw;
        width: 70vw;
    }
}

// @media (max-width: 945px) {
//     section {
//         background-size: contain !important;
//     }
// }