@media (min-width: 300px) and (max-width: 850px) and (orientation:landscape) {
    .matt-image {
        position: absolute;
        width: 100%;
        bottom: unset;
    }
    .gigs-main {
        overflow-y: scroll;
    }
    .matt img.face {
        position: unset !important;
        width: 100%;
        height: unset !important;
    }
    .logo-holder {
        width: 40% !important;
        position: absolute;
        z-index: 12;
    }
}

@media (min-width: 812px) and (max-width: 1366px) and (orientation:landscape) {
    .logo-holder {
        width: 21%;
    }
}

@media (min-width: 1023px) and (max-width: 1024px) and (orientation:landscape) {
    a.social-link {
        padding-right: 2rem;
        font-weight: 700;
        font-size: 1.3em;
    }
    ul#menu-main-menu li {
        padding-right: 2rem;
        font-size: 0.8em;
        font-weight: 700;
    }
    a.social-link:last-of-type {
        padding-right: 1rem;
    }
    .matt {
        img {
            &.face {
                top: 0;
            }
        }
    }
    .navigation-holder {
        height: 19vh;
    }
    .enter-button {
        width: 100%;
        max-width: 15%;
        position: absolute;
        bottom: 42px !important;
    }
    .enter-button {
        max-width: 24% !important;
    }
    a.social-link {
        font-size: 1rem;
    }
}

// @media (max-width: 1600px) and (orientation: landscape) {
//     .matt img.face {
//         top: 0 !important;
//     }
//     .badge {
//         img {
//             max-width: 50%;
//         }
//     }
//     a.social-link,
//     ul#menu-main-menu li {
//         font-size: 0.8em;
//     }
//     .matt {
//         .badge {
//             top: -175px;
//             img {
//                 max-width: 50%;
//             }
//         }
//     }
// }