* , ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.matt-clip {
    position: relative;
}

.clip-image {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
}

.clip-image::before {
    content: "";
    height: 50vh;
    background-color: $colour-orange;
    width: 400px;
}

.enter {
    background: $colour-orange;

    .enter-button {
        position: absolute;
        top: -9rem;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.nav-holder {
    background: $colour-orange;
}

.logo-holder {
    width: 15%;
    margin-left: -31px;
}

.menu-main-menu-container {
    margin-left: -31px;
}

.hero {
    position: unset !important;
    min-height: unset !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    transform: translateY(0);
    transition: transform 3s ease-in-out;

    img.bdrop {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: 2;
    }
}

.matt {
    img {
        // position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    .badge {
        top: -215px;
        right: 110px;
        img {
            max-width: 60%;
            width: 100%;
            height: auto;
            position: unset !important;
        }
    }
}

.socials {
    z-index: 9999;
    font-size: 0.6em;
    background: $colour-orange;
    position: fixed;
    a {
        @apply text-xl;

        &:hover {
            @apply text-black;
        }
    }
}

#footer {
    background: #fff9f3;
}