// Bigger screens
@media (min-width: 991px) {
    .matt {
        img.face {
            // position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            bottom: 0;
            left: 0;
            top: -150px;
            right: 0;
            z-index: 1;
        }
    }
    .navigation-holder {
        margin-left: -2rem;
        // position: fixed;
        width: 100%;
        right: 0;
        z-index: 99;
    }
    .home .navigation-holder {
        position: fixed;
    }
}

@media (max-width: 990px) {
    .navigation-holder {
        position: fixed;
        height: 100vh;
    }
}

@media (max-width: 1279px) {
    ul#menu-main-menu li,
    a.social-link {
        font-size: 1em;
    }
    .logo-holder {
        width: 21%;
        margin-left: -31px;
    }
    .enter-button {
        max-width: 20% !important;
    }
    .navigation-holder {
        margin-left: unset;
    }
}

@media(min-width: 1200px) and (max-width: 1920px) {
    .image-holder {
        img {
            width: 100%;
            max-width: 80%;
        }
    }
    .matt-image {
        width: 100%;
        max-width: 100%;
        bottom: 0px;
        left: 0;
        right: 0;

        img {
            width: 60%;
        }
    }
}

@media(min-width: 1900px) and (max-width: 1920px) {
    .image-holder {
        img {
            width: 100%;
            max-width: 80% !important;
        }
    }
    .matt-image {
        width: 100%;
        max-width: 100%;
        bottom: 0px;
        left: 0;
        right: 0;

        img {
            width: 60%;
        }
    }
    .contact-main {
        overflow-y: scroll !important;
    }
}

@media (min-width: 1900px) {
    .enter-button {
        bottom: 60px;
    }
}

@media(min-width: 2200px) {
    .matt-main {
        height: 100vh;
        background: $background;
        z-index: 2;
    
        .image-holder {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 10;
    
            & img {
               width: 100%;
               max-width: 90%; 
            }
        }
    }
    .matt {
        img.face {
            // position: absolute;
            width: auto;
            height: 100%;
            object-fit: cover;
            object-position: top;
            bottom: 0;
            left: 0;
            top: -100px;
            right: 0;
            display: block;
            margin: 0 auto;
            z-index: 1;
        }
    }
}

@media(max-width: 2199px) {
    .matt-main {
        height: 100vh;
        background: $background;
        z-index: 2;
    
        .image-holder {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 10;
    
            & img {
               width: 100%;
               max-width: 100%; 
            }
        }
    }
}

@media (max-width: 1023px) {
    .border-bottom {
        border-bottom: 1px solid #333;
        padding-top: 1rem;
    }
    li.active a {
        color: white !important;
    }
    a.social-link {
       color: white;
    }
}

@media (max-height: 1024px) {
    .overlay img.bdrop {
        position: unset !important;
        height: 100vh;
    }
    .enter-button {
        bottom: 30px !important;
    }
}

// Smaller screen styles
@media (max-width: 768px) {
    .page-template-page_about-php .wp-block-columns {
        display: -webkit-box !important;
        display: flex !important;
        flex-direction: column;
    }
    .matt img.face {
        position: unset !important;
        width: 110%;
        // height: 106% !important;
    }
    input[type=checkbox] {
        position: absolute;
    }
    span.wpcf7-list-item-label {
        font-size: 14px;
        margin-left: unset;
        color: grey;
        font-size: 0.6em;
        font-weight: 600;
        line-height: 1.5;
    }

    .about-matt p {
        font-size: 0.6em;
        line-height: 2;
    }
    .diary-element p {
        font-size: 1em;
        margin-bottom: 0;
    }
    .gig-details {
        p {
            font-size: 0.6em;
        }
    }
    blockquote {
        text-align: center;
        width: unset;
        max-width: unset;
        display: block;
        margin: 0 auto;
        padding-bottom: 2rem;
        font-size: 1em;
        
        p {
            margin-bottom: 0.5rem;
        }
    }
    cite {
        font-size: 0.8em;
    }
    .border-bottom {
        border-bottom: 1px solid #333;
        padding-top: 1rem;
    }
    .links {
        li {
            font-size: 0.8em;
            padding-right: 0;
        }
        li:last-child {
            padding-right: 0 !important;
        }
    }
    input[type=checkbox] {
        position: relative;
    }
    div.wpcf7-response-output {
        margin: -.26em 0.5em 1em;
        position: unset;
    }
    .logo-holder {
        width: 45% !important;
    }
    ul#menu-main-menu li, 
    a.social-link {
        font-size: 1.2em;
        @apply text-white;
    }
    .enter-button {
        width: 100%;
        max-width: 35% !important;
        bottom: 45px !important;
    }
}

@media (max-width: 360px) {
    blockquote {
        font-size: 0.8em;
    }
}

@media (max-width: 1140px) {
    .overlay img.bdrop {
        object-fit: fill;
    }
}

@media (max-width: 320px) {
    blockquote {
        font-size: 0.6em;
    }
    .gigs-main {
        overflow-y: scroll;
        .matt-image {
            bottom: unset;
        }
    }
    input:not([type='checkbox']) {
        border: 2px solid black;
        padding: 0.4rem;
        width: 100%;
        margin-bottom: 0.6em;
    }
    .diary-element {
        p{
            margin-bottom: 0 !important;
        }
    }
    span.wpcf7-not-valid-tip {
        font-size: 1em;
        margin-top: -1em;
        font-size: 0.6em;
        margin-bottom: 0em;
    }
    div.wpcf7-response-output {
        margin: -3em 0.5em 1em;
        position: unset;
        font-size: 0.5em;
    }
    input[type=checkbox]:checked:before {
        left: 1px;
    }
}

// Ipad only styles
@media(min-width: 768px) and (max-width: 769px) {
    blockquote {
        text-align: center;
        width: unset;
        max-width: unset;
        display: block;
        margin: 0 auto;
        padding-bottom: 2rem;
        font-size: 1em;
        
        p {
            margin-bottom: 0.5rem;
        }
    }
    cite {
        font-size: 0.8em;
    }
    .logo-holder {
        img {
            max-width: 80%;
            margin-left: 0;
        }
    }
}

// Ipad pro styles
@media(min-width: 1023px) and (max-width: 1024px) {
    .navigation-holder {
        margin-left: unset;
        height: 12vh;
    }
    .enter-button {
        max-width: 24% !important;
    }
    a.social-link:last-of-type {
        padding-right: 1rem;
    }
    .menu-main-menu-container {
        margin-left: -20px;
    }
    .logo-holder {
        width: 30%;
    }
    .matt {
        // height: calc(100vh - 25vh);
        // position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100% !important;
    }
    body {
        overflow-y: hidden;
    }
    .diary-element {
        p {
            font-size: 1em;
        }
    }
    .matt-image img {
        width: 100%;
    }
}

.socials a {
	color: white;
}

@media (min-width: 1279px) and (max-width: 1280px) {
	.matt-image {
		position: relative !important;
		overflow-y: none !important;
	}
	.badge img {
		right: 0px !important;
	}
	.enter-button {
		max-width: 17% !important;
		bottom: 50px !important;
	}
	ul#menu-main-menu li, a.social-link {
        font-size: 1.2em;
	}
}

@media (min-width: 1020px) and (max-width: 1280px) {
    .diary-element {
        p {
            font-size: 1.2em;
        }
    }
}

// Height queries
@media(max-height: 1210px) {
    .gigs-main,
    .about-main,
    .contact-main {
        height: unset !important;
        min-height: unset !important;
    }
    .overlay img.bdrop {
        position: unset !important;
        height: 157vh;
    }
    .matt img.face {
        width: 100%;
        height: 100% !important;
    }
    .enter-button {
        bottom: -37rem;
    }
}

.matt {
    position: relative !important;
}

@media (max-height: 600px) {
    .overlay img.bdrop {
        position: unset !important;
        height: 213vh;
    }
    .enter-button {
        bottom: -34em;
    }
    .matt img.face {
        position: unset !important;
    }
    .matt {
        position: unset !important;
    }
}

@media (max-height: 800px) {
    // .matt .home-badge img{
    //     // top: 155px;
    //     right: 110px;
    //     position: absolute !important;
    // }
}

@media (max-height: 1433px) {
    .matt img.face {
        width: auto;
        height: 80%;
    }
}

@media(min-height: 1441px) {
    .overlay img.bdrop {
        height: 103vh;
    }
}

@media (max-height: 949px) {
    .enter-button {
        bottom: -30rem;
    }
}