body{
  font-family: $font-1;
  font-size: 20px;
  color: $shade-1;
  i{
    font-family: $font-1;
	  font-style: italic;
    b, strong{
      font-family: $font-1;
		font-weight: bold;
    }
  }
  b, strong{
    font-family: $font-1;
	  font-weight: bold;
    i{
      font-family: $font-1;
		font-style: italic;
    }
  }
}

p, span, blockquote, ul, ol, li{
}

h1, h2, h3, h4, h5, h6,legend{
  font-family: $font-2;
  margin-bottom: 20px;
}

h1 {
  @extend .text-6xl;
}

h2 {
  @extend .text-5xl;
}

h3,
legend {
  @extend .text-4xl;
  @apply text-4xl;
}

h4 {
  @extend .text-3xl;
  @apply text-3xl;
}

h5 {
  @extend .text-2xl;
  @apply text-2xl;
}

h6 {
  @extend .text-xl;
  @apply text-xl;
}

a:link, a:visited, a:hover{
  text-decoration: none;
  color: $shade-1;
  // color: $shade-1;
  transition: all 0.3s ;
}
a:hover{
  color: $colour-1;
}

p{
  line-height: 120%;
  margin-bottom: 20px;
}

.no-margin{
  margin: 0px !important;
}