/**
 * Variables
 */
$font-1: Poppins, sans-serif;
$font-2: 'arial';

$shade-1: rgba(0, 0, 0,1);
$shade-2: rgba(255,255,255,1);
$shade-3: rgba(225, 225, 225,1);
$shade-4: rgba(50, 50, 50, 1);
$shade-5: rgba(240, 240, 240,1);
$shade-6: rgba(248, 248, 248,1);

$colour-1: rgba(239, 70, 54,1);
$colour-orange: #f84421;
$color-block: #150006;
$background: #fff9f3;

